<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('상세보기')">
    <title>detail</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:replace="fragments/header :: menu('home')"></nav>

<main role="main" class="container" modelAttribute="boardDto">
    <div class="starter-template">
        <table class ="table table-bordered">
            <tbody>
            <tr>
                <th>제목</th>
                <td th:text="${boardDto.title}"></td>
                <td>작성자</td>
                <td th:text="${boardDto.writer}"></td>
            </tr>
            <tbody>
            <tr>
                <th>조회수</th>
                <td th:text="${boardDto.view}" colspan="3"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:inline="text" colspan="3">[[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</td>
            </tr>
            <tr>
                <th>본문 내용</th>
                <td th:text="${boardDto.content}" colspan="3"></td>
            </tr>
            </tbody>
        </table>

        <!-- 수정/삭제 -->
        <div th:if="${iswriter}">
            <a th:href="@{'/board/post/edit/' + ${boardDto.id}}">
                <button class="btn btn-primary">수정</button>
            </a>
            <form id="delete-form" th:action="@{'/board/post/' + ${boardDto.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button class="btn btn-warning" id="delete-btn">삭제</button>
            </form>
        </div>

        <!-- 댓글 -->
        <div class="card" th:if="${comments != null}">
            <div class="card-header bi bi-chat-dots"> [[${#lists.size(comments)}]] Comments</div>
            <!-- 내용 -->
            <ul class="list-group-flush">
                <li th:id="'comment' + ${comment.getId()}" class="list-group-item" th:each="comment : ${comments}">
                    <span>
                        <span style="font-size: small" th:text="${comment.getName()}"></span>
                        <span style="font-size: xx-small">[[${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm:ss')}]]</span>&nbsp;
                        <a type="button" data-bs-toggle="collapse" th:data-bs-target="'#multi-collapse-' + ${comment.getId()}" class="bi bi-pencil-square"></a>
                        <a type="button" th:onclick="|commentDelete('${boardDto.id}','${comment.getId()}')|" class="bi bi-x-square"></a>
                    </span>
                    <p class="collapse show" th:id="'multi-collapse-' + ${comment.getId()}" th:text="${comment.getComment()}"></p>
                    <!-- 댓글 수정 -->
                    <form th:class="collapse" th:id="'multi-collapse-' + ${comment.getId()}">
                        <input type="hidden" id="commentId" th:value="${comment.getId()}">
                        <input type="hidden" id="comment_boardId" th:value="${boardDto.id}">
                        <div class="form-group">
                            <textarea class="form-control" id="comment-content" rows="3" th:text="${comment.getComment()}"></textarea>
                        </div>
                        <button type="button" id="btn-comment-update" class="btn btn-outline-primary bi bi-pencil-square"> 수정</button>
                    </form>
                </li>
            </ul>
        </div><br/>
        <!-- 댓글 입력 -->
        <div class="card">
            <div class="card-header bi bi-chat-dots">Write a Comment</div>
            <form>
                <input type="hidden" id="boardId" th:value="${boardDto.id}"/>
                <div th:if="${user != null}">
                    <div class="card-body">
                        <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요."></textarea>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-primary bi bi-pencil-square" type="button" id="btn-comment-save" onclick="saveComment()" th:text=" 등록"></button>
                    </div>
                </div>
                <div th:if="${user == null}">
                    <div class="card-body" style="font-size: small"><a href="/login">로그인</a>을 하시면 댓글을 등록하실수 있습니다.</div>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="/js/comment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script></body>
</html>