<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Favicon -->
    <link href="/img/title-logo.ico" rel="shortcut icon" type="image/x-icon">
    <!-- BootStrap / CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/list.css" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- slick.js(Slider)-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Web3.js -->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
</head>
<nav th:replace="fragments/header"></nav>
<!-- img Container -->
<div class="board-header">
  <div class="board-header-container">
    <div class="board-header-img">
      <!-- 슬라이더 -->
        <div class="slider-container">
          <div class="slider slider-nav">
            <div>
              <div class="banner-container" style="background-color: #faf9ff;">
                <div class="banner-in-left">
                    <div></div>
                    <h1 class="banner-title">새로워진 스터디 커뮤니티</h1>
                    <div class="banner-text">함께 모각코 하고 가세요 👨‍💻</div>
                </div>
                <div class="banner-in-right">
                  <!-- Img ⓒVecteezy-->
                  <img src="/img/banner-img1.jpg" width="450px;" height="350px;">
                </div>
              </div>
            </div>
            <div>
              <div class="banner-container" style="background-color: #083b6d;">
                <div class="banner-in-left" style="color: white;">
                  <h1 class="banner-title">출석체크 하고 보상받자.💰</h1>
                  <div class="banner-text">모각코인으로 땅을 사보세요!</div>
                  <div></div>
                  <button type="button" class="banner-button" data-bs-toggle="modal" data-bs-target="#exampleModal">토큰받기</button>
                </div>
                <div class="banner-in-right">
                  <!-- Img ⓒVecteezy-->
                  <img src="/img/banner-img2.jpg" width="250px;" height="250px;">
                </div>
              </div>
            </div>
            <div>
              <div class="banner-container" style="background-color: #5a02f2;">
                <div class="banner-in-left" style="color: white;">
                  <h1 class="banner-title">가입이 처음이신가요?</h1>
                  <div class="banner-text">WELCOME TOKEN 받으세요!</div>
                  <div></div>
                  <button type="button" class="banner-button" data-bs-toggle="modal" data-bs-target="#welcomeModal">토큰받기</button>
                </div>
                <div class="banner-in-right">
                  <!-- Img ⓒVecteezy-->
                  <img src="/img/banner-img3.png" width="400px;" height="250px;">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- 출석체크 Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">토큰을 받아보세요! 😎</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="font-weight: 700; font-size: 25px;"> 출석체크 보상은 하루에 한번 받을수 있습니다.</p>
          <p>💡goerliETH 와 Metamask가 설치되어 있어야 합니다.</p>
          <span sec:authorize="isAnonymous()"><a href="/login" style="text-decoration: underline; color: #0d6efd; font-size: 15px; padding: 0.5rem;">로그인이 필요합니다.</a></span>
          <span sec:authorize="isAuthenticated()">
            <p>
              <iconify-icon icon="logos:metamask-icon" width="30" height="30"></iconify-icon>
              토큰을 받을 주소를 확인해주세요.
            </p>
            <p>🪙 300 토큰이 지급됩니다. </p>
            <input id="wallet" class="form-control" type="text" value="메타마스크와 연동이 되지 않았습니다." aria-label="readonly input example" style=" margin-top: 25px;  margin-bottom: 25px;" readonly>
            <a href="#" id="GetTokenInfo" style="text-decoration: underline; color: #0d6efd; font-size: 15px; padding: 0.5rem;">메타마스크에 모각코인 정보 추가하기</a>
          </span>
          <a id="oneDay-contract" target="_blank" style="text-decoration: underline; color: dimgrey; font-size: 15px; padding: 0.5rem; display: none;">
            <span id="oneDay-contract-text"></span>
          </a>
        </div>
        <div class="modal-footer">
          <button sec:authorize="isAuthenticated()" id="getTokenButton" type="button" class="btn btn-primary">토큰 받기</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 가입보상 Modal -->
  <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="welcomeModalLabel">토큰을 받아보세요! 😎</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="font-weight: 700; font-size: 25px;"> 첫 가입 토큰은 한번만 받을수 있습니다.</p>
          <p>💡goerliETH 와 Metamask가 설치되어 있어야 합니다.</p>
          <p>🪙 1500 토큰이 지급됩니다. </p>
          <span sec:authorize="isAnonymous()"><a href="/login" style="text-decoration: underline; color: #0d6efd; font-size: 15px; padding: 0.5rem;">로그인이 필요합니다.</a></span>
          <span sec:authorize="isAuthenticated()">
            <p>
              <iconify-icon icon="logos:metamask-icon" width="30" height="30"></iconify-icon>
              토큰을 받을 주소를 확인해주세요.
            </p>
            <input id="welcome-wallet" class="form-control" type="text" value="메타마스크와 연동이 되지 않았습니다." aria-label="readonly input example" style=" margin-top: 25px;  margin-bottom: 25px;" readonly>
            <a href="#" id="GetWelcomeTokenInfo" style="text-decoration: underline; color: #0d6efd; font-size: 15px; padding: 0.5rem;">메타마스크에 모각코인 정보 추가하기</a>
          </span>
          <a id="welcome-contract" target="_blank" style="text-decoration: underline; color: dimgrey; font-size: 15px; padding: 0.5rem; display: none;">
            <span id="welcome-contract-text"></span>
          </a>
        </div>
        <div class="modal-footer">
          <button sec:authorize="isAuthenticated()" id="getWelcomeTokenButton" type="button" class="btn btn-primary">토큰 받기</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <div class="search-input">
    <div class="search-input-drop">
      <div class="search-input-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img" class="search-input-icon">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"></path>
        </svg>
        <!-- 검색하기 폼 -->
        <form action="/board/search" method="GET" class="search-input-form">
          <input id="search" type="search" name="keyword" placeholder="Search" value="" class="search-input-form-text">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 토글 버튼 -->
<div style="margin-top: 190px; margin-left: 4.5rem;">
  <div class="form-check form-switch" style="font-size: x-large; display: flex;">
    <p style="width: 200px;">모집 중만 보기</p>
    <input class="form-check-input" type="checkbox" role="switch" id="recruitOntoggle" style="margin-left: 1px;" checked/>
  </div>
</div>
<!-- 게시글 -->
<div id="top-container">
  <div class="post-container" id="container">
    <div class="card" th:classappend="${board.getIsfull()} ? isFullPost : false" th:each="board : ${boardList}">
      <div class="card-header">
        <div class="isFull" th:if="${board.getIsfull()}">모집 마감</div>
        <!-- 썸네일 -->
        <a th:href="@{'/board/post/read/'+${board.getId()}}">
           <img th:src="${board.getThumbnail()}" alt="" />
        </a>
      </div>
      <!-- 몸통 -->
      <div class="card-body">
        <!-- 태그 -->
        <div class="tag-container">
          <div class="tag"><span th:text="${board.getHashTag()} ? '#'+${board.getHashTag()}"></span></div>
        </div>
        <!-- 제목 -->
        <a th:href="@{'/board/post/read/'+${board.getId()}}"><h4 th:text="${board.getTitle()}"> Title </h4></a>
        <!-- 글소개 -->
        <p th:text="${board.getSubcontent()}"></p>
        <!-- 좋아요 -->
        <div class="like">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="bi bi-heart-fill" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z" clip-rule="evenodd" />
          </svg>
          <b th:text="${board.getLike_count()} ? ${board.getLike_count()} : 0"></b> • <span th:text="${board.getView()} ? ${board.getView()} : 0"></span> views
        </div>
        <!-- 유저 정보 -->
        <div class="user">
          <img th:src="${board.getPicture()} ? ${board.getPicture()} : '/img/userIcon.svg'" alt="user" />
          <div class="user-info">
            <h5 th:text="${board.getWriter()}"></h5>
            <small>[[${#temporals.format(board.getCreated_date(), 'yyyy년 MM월 dd일')}]] • <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 20">
              <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>&nbsp;<span th:text="${board.getComment_count()} ? ${board.getComment_count()} : 0"></span></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="totalPage" th:value="${totalPage}" style="display: none"></input>
  <!-- script / jQuery-->
  <script src="/js/board/list.js"></script>
  <script sec:authorize="isAuthenticated()" th:src="@{/js/web3js/web3js.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

