<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('detail')">
    <title>detail</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:replace="fragments/header :: menu('home')"></nav>

<main role="main" class="container">
    <div class="starter-template">
        <form role="update-form" th:action="@{'/board/post/edit/' + ${boardDto.id}}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="id" th:value="${boardDto.id}"/>

            제목 : <input type="text" name="title" th:value="${boardDto.title}"> <br>
            작성자 : <input type="text" name="writer" th:value="${boardDto.writer}"> <br>
            <textarea name="content" th:text="${boardDto.content}"></textarea><br>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">수정</button>
                <a th:href="@{/board/list}" class="btn btn-secondary">뒤로 가기</a>
            </div>
        </form>

    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>