<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body style="font-size: large;">
<nav class="navbar navbar-expand-md navbar-light bg-white" th:fragment="menu(menu)" style="margin-right: 40px; margin-left: 40px; justify-content: space-between;">
  <!-- title -->
  <a class="header-home" th:href="@{/}" style="text-decoration: none; color: black;"> JJ.Blog </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
        <a class="nav-link" th:href="@{/}"> HOME </a>
      </li>
      <li class="nav-item" th:classappend="${menu} == 'board'? 'active'">
        <a class="nav-link" href="#" th:href="@{/board/list}"> 게시판 </a>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end">
      <a class="nav-link justify-content-end" href="#" id="smartContract"> 스마트 컨트랙트 </a>
      <a class="nav-link justify-content-end" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
      <span class="navbar-text justify-content-end" sec:authorize="isAuthenticated()" th:text="${session.user['name']}">님, 안녕하세요.</span>
      <a class="nav-link justify-content-end" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    </div>
  </div>
</nav>
</body>
</html>