<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body style="font-size: large;">
<nav class="navbar navbar-expand-md navbar-light bg-white" style="margin-right: 40px; margin-left: 40px; justify-content: space-between;">
  <!-- title -->
  <a class="header-home" th:href="@{/}" style="text-decoration: none; color: black; margin-right: 15px;"> ZzBlog </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbars" style="justify-content: space-between;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}"> HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/board/list}"> 스터디모집 </a>
      </li>
      <li>
        <a class="nav-link" href="#" th:href="@{/earth}"> 월드맵 </a>
      </li>
    </ul>
    <span>
      <a type="button" class="btn btn-dark" th:href="@{/board/post}" style="border-radius: 1.25rem; color: black; background-color: white;">새 글 작성</a>
      <a type="button" class="btn btn-dark" sec:authorize="isAnonymous()" th:href="@{/login}"  style="border-radius: 1.25rem; color: black; background-color: white;">로그인</a>
      <div class="dropdown" sec:authorize="isAuthenticated()" style="float: right;">
        <i class="xi-profile" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: xx-large; cursor: pointer;"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li><span class="dropdown-item"  th:text="${session.user['name']}" style="color: lightblue"></span></li>
          <li><a class="dropdown-item"  th:href="@{/profile/mypost}" id="MyPost">내가 쓴 글보기</a></li>
          <li><a class="dropdown-item"  th:href="@{/profile/}" id="MyPage">설정</a></li>
          <li><a class="dropdown-item"  href="#" id="ConnectMetaMask">메타마스크 연결</a></li>
          <li><a class="dropdown-item"  th:href="@{/logout}">로그아웃</a></li>
        </ul>
      </div>
    </span>
  </div>
</nav>
</body>
</html>

