
#sheet {
    /* border:1px solid black; */
    background: rgba(252, 252, 253, 0.79);
    margin-top: 100px;
    margin-left: 200px;
}
rect{
    fill: darkslategrey;
    pointer-events: all;
    transition: all 1s;
}
rect:hover {
    fill: white;
    cursor: pointer;
}
.tippy-box[data-theme~="purchased"] {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 100%);
    color: white;
    border-radius: 10px;
    font-weight: 700;
}

.tippy-box[data-theme~="notPurchase"] {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #5b915b 0%, #33b972 100%);
    color: white;
    border-radius: 10px;
    font-weight: 700;
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
    border-top-color: #8d5ab9 !important; /* set your color here and use the !important property */
}


/* GLOBAL VARIABLES */
:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 1em;  /* 16px */
    --fontNormal: 1.25em;   /* 20px */
    --fontLarge:  1.875em;  /* 30px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
}
@keyframes zoom {
    from {
        object-position: 0 50%;
    }
    to {
        object-position: 100% 50%;
    }
}

@keyframes blur {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(2, 2);
    }
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 380px;
    height: 500px;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
}

.card__header {
    display: grid;
    width: 100%;
    height: 200px;
}

.card__profile {
    align-self: center;
    justify-self: center;
    display: block;
    overflow: hidden;
    width: 10vmax;
    height: 10vmax;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.card__profile img {
    -webkit-transform: scale(1.5, 1.5)  translateZ(0);
    transform: scale(1.5, 1.5)  translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card:hover .card__profile img {
    -webkit-transform: scale(1, 1)  translateZ(0);
    transform: scale(1, 1)  translateZ(0);
}

.card__body {
    display: grid;
    padding: 0 20px;
}

.card__name {
    z-index: 1;
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    font-size: var(--fontLarge);
    font-weight: var(--fontLight);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background: -webkit-linear-gradient(white, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__name {
    background: -webkit-linear-gradient(white, #c1c1c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__job {
    z-index: 1;
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: var(--fontNormal);
    font-weight: var(--fontLight);
    text-align: center;
    letter-spacing: 0.35rem;
    color: rgba(100, 130, 200, 0.45);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__job {
    color: rgba(100, 130, 200, 1);
}

.card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    margin: 22px 0 16px 0;
    font-size: var(--fontMedium);
    font-weight: 500;
    /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    text-align: center;
}

.card:hover .card__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.card__footer {
    position: relative;
    -webkit-transform: translateY(400%);
    transform: translateY(400%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "date category";
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card:hover .card__footer {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 1;
}

.card__date {
    grid-area: date;
    display: inline-block;
    justify-self: left;
    font-size: var(--fontMedium);
    font-weight: var(--fontMedium);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(250, 250, 250, 0.4);
}
.card__tx{
    grid-area: auto;
    display: inline-block;
    justify-self: right;
    font-size: var(--fontMedium);
    font-weight: var(--fontMedium);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(250, 250, 250, 0.4);
}

.card:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
}

.card.card__image {
    background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
}

.card:hover .card__image img {
    opacity: 0.8;
}

.card:hover .card__profile img {
    -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
    filter: grayscale(50%) contrast(80%) brightness(1.6);
    mix-blend-mode: normal;
}