@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    height: 100%;
}
.board-header {
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.board-header-container{
    position: relative;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    background-color: bisque;
}
.board-header-img {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
/* 텍스트 애니메이션  */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #9e9ea7;
    display: flex;
    justify-content: center;
    align-items : center;
}
.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}
.content__container:before {
    content: "[";
    left: 0;
}
.content__container:after {
    content: "]";
    position: absolute;
    right: 0;
}
.content__container:after, .content__container:before {
    position: absolute;
    top: 57px;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}
.content__container__list {
    margin-top: 0;
    padding-left: 140px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.content__container__list__item {
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
/* 텍스트 애니메이션 끝  */
.search-input{
    z-index: 1;
    width: 100%;
    max-width: 628px;
    margin: 0 auto;
    transform: translateY(-50%);
}
.search-input-drop {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
}
.search-input-wrapper {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-left: 28px;
}

.search-input-icon {
    width: 16px;
    height: 16px;
    color: #9e9ea7;
    fill: currentColor;
}
.search-input-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.search-input-form-text {
    height: 100%;
    width: 100%;
    padding-right: 24px;
    padding-left: 60px;
    background: #fff;
    background: transparent;
    font-size: 16px;
    border: none;
}
.search-input-form-text:hover {
    outline: none;
}
/* 글쓰기 버튼 */
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 25px;
}



span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.board-header-write {
    padding: 15px;
    text-align: center;
}
.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
    font-size: small;
}
.post-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 230px;
}

.card-body h4 {
    padding-top: 11px;
    font-size: large;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 30px;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
}

.tag {
    color: #98d2b0;
    font: bold;
    background-color: rgba(252, 252, 253, 0.89);
    font-size: 10px;
    margin-right: 5px;
    padding: 1px 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.card-body p {
    font-size: 13px;
    width: 250px;
    height: 40px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.like {
    font-size: small;
}

.user {
    display: flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-info h5 {
    margin: 0;
    font-size: medium;
}
.user-info small {
    color: #545d7a;
}

a {
    text-decoration: none;
    color: black;
}


