@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    height: 100%;
}
.board-header {
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.board-header-container{
    position: relative;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
}
.board-header-img {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

/*  슬라이더 */
.slider-container {
    font-family:Arial;
    width:100%;
    display:block;
    margin:0 auto;
}
.slider h3 {
    background: rgba(213, 190, 161, 0.92);
    color: #3498db;
    font-size: 36px;
    line-height: 260px;
    position: relative;
    text-align: center;
}

.banner-container {
    display: flex;
    height: 260px;
    padding: 0 90px;
    align-items: center;
}
.banner-button {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 30px;
    color: #fff;
    background: darkseagreen;
    border-radius: 50px;
    margin-top: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
.banner-in-left {
    font-size: 22px;
    flex : 1 1;
    margin: 0 auto;
    padding: 37px;
    margin-left: 25px;
}
.banner-in-right {
    flex : 1 1;
    margin: 0 auto;
}
.banner-title{
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin: 12px 0;
}
.banner-text {
    font-size: 25px;
}
.slick-dots{
    bottom: -45px;
    width: 100%;
    list-style: none;
    text-align: center;
    padding-left: 0;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000;
}
.slick-dots li button:before {
    font-size: 35px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
}

/* ----- 검색 바 ----- */
.search-input{
    z-index: 1;
    width: 100%;
    max-width: 628px;
    margin: 0 auto;
    transform: translateY(200%);
}
.search-input-drop {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    border-radius: 8px;
    background: aliceblue;
    -webkit-box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
    box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
}
.search-input-wrapper {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-left: 28px;
}

.search-input-icon {
    width: 16px;
    height: 16px;
    color: #9e9ea7;
    fill: currentColor;
}
.search-input-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.search-input-form-text {
    height: 100%;
    width: 100%;
    padding-right: 24px;
    padding-left: 60px;
    background: #fff;
    background: transparent;
    font-size: 16px;
    border: none;
}
.search-input-form-text:hover {
    outline: none;
}

.board-header-write {
    padding: 15px;
    text-align: center;
}
.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
    font-size: small;
}
.post-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 230px;
}

.card-body h4 {
    padding-top: 11px;
    font-size: large;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 30px;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
}

.tag {
    color: #98d2b0;
    font-weight: bold;
    background-color: rgba(252, 252, 253, 0.89);
    font-size: 10px;
    margin-right: 5px;
    padding: 1px 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.card-body p {
    font-size: 13px;
    width: 250px;
    height: 40px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.like {
    font-size: small;
}

.user {
    display: flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-info h5 {
    margin: 0;
    font-size: medium;
}
.user-info small {
    color: #545d7a;
}

a {
    text-decoration: none;
    color: black;
}

.isFull {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    background-color: rgb(5, 5, 5);
    border-radius: 6px;
}

.isFullPost{
    opacity: 0.5;
}