@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #1e1e1e;
    font-family: "Century Gothic", sans-serif;
    position: relative;
    overflow: hidden;
}

.title {
    background-color: #1e1e1e;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-size: larger;
    font-family: 'GmarketSansMedium', sans-serif;
    border: none;
    width: 100%;
    text-align: center;
}
input:focus {
    border-color: #121212;
    outline: none;
}

.placeholder ProseMirror-widget{
    color: #80868b !important;
    font-size: large !important;
}
/* 슬라이드 */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1e1e1e;
    /* Center slide text vertically */
    display: -webkit-box; /* 세로 정렬 */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.outer {
    width: 1px;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;
}
.inner {
    position: absolute;
    width:100%;
    height: 40%;
    top: 30%;
    box-shadow: 0px 0px 30px 20px grey;
}


/* textArea */
textarea {
    resize: none;
    border: none;
    width: 300px;
    height: 200px;
    background-color: #252525;
    color: #cccccc;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.75rem 1rem;
}
textarea:hover {
    outline: none;
}

h4 {
    font-size: large;
    color: #ececec;
}

.uploadSection {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    border-top: 1px solid #757575;
}

.img-a-tag {
    color: #cccccc;
    display: none;
}

.textcount {
    font-size: small;
    color: #ACACAC;
}
.totaltext {
    font-size: small;
    color: #ACACAC;
}

