<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"/>
  <link href="/css/signup.css" rel="stylesheet">
  <title>회원가입</title>
</head>
<body>
<main class="main">
  <div class="container">
    <section class="wrapper">
      <form method="POST" class="register-form" id="register-form" th:action="@{/login/signup}" modelAttribute="userDto" onsubmit="return LastCheck();">
        <input type="hidden" name="picture" value="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/344/external-user-shopping-mall-xnimrodx-lineal-color-xnimrodx.png">
        <div class="form-group">
          <label for="email"><i class="zmdi zmdi-email"></i>이메일주소</label>
          <input type="email"  class="form-control" name="email" id="email" th:value="${userDto.email} ? ${userDto.email}" placeholder="Your Email"/>
          <div id="idAvailable" class="valid-feedback" style="display : none;"></div>
          <div id="idNotAvailable" class="invalid-feedback" style="display : none;"></div>
          <button class="btn btn-secondary" type="button" th:onclick="checkemailDuplication()" style="margin-top: 8px;">중복체크</button><br/>
        </div>
        <div class="form-group">
          <label for="name"><i class="zmdi zmdi-account material-icons-name"></i>&nbsp;별명</label>
          <input type="text" class="form-control" name="name" id="name" th:value="${userDto.name} ? ${userDto.name}" placeholder="name"/><br>
          <div th:if="${valid_name}" th:text="${valid_name}"></div>
          <!-- 별명 중복 체크 -->
          <div id="nameAvailable" class="valid-feedback" style="display : none;"></div>
          <div id="nameNotAvailable" class="invalid-feedback" style="display : none;"></div>
          <button class="btn btn-secondary" type="button" th:onclick="checknameDuplication()" style="margin-top: 8px;">중복체크</button><br/>
        </div>
        <div class="form-group">
          <label for="pass"><i class="zmdi zmdi-lock"></i></label>
          <input type="password" class="form-control" name="password" id="pass" th:value="${userDto.password} ? ${userDto.password}" placeholder="Password" required/><br>
          <div th:if="${valid_password}" th:text="${valid_password}"></div>
        </div>
        <div class="form-group">
          <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
          <input type="password" class="form-control" name="re_password" id="re_pass" onkeyup="repassCheck()" placeholder="Repeat your password" required/>
          <div id="pwAvailable" class="valid-feedback" style="display : none;"></div>
          <div id="pwNotAvailable" class="invalid-feedback" style="display : none;"></div>
        </div>
        <div class="form-group form-button">
          <input type="submit" name="signup" id="signup" class="btn btn-secondary" value="가입"/>
          <input type="button" name="goBack" id="goBack" class="btn btn-secondary" value="돌아가기" th:onclick="location.href='@{/login}'"/>
        </div>
      </form>
    </section>
  </div>
</main>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/signup.js"></script>
</body>
